@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Jersey+15&display=swap');
html{
    background-color:#BDCCE1;
}
header{
    margin:0px;
    padding:20px;
    background-color:#DFE4EF;
    position:sticky;
}
a{
    text-decoration:none;
    color:#46649D;
}
.link{
    display:flex;
    gap:180px;
    justify-content:space-evenly;
    justify-content:flex-end;
    margin-right:100px;
}
h1{
    margin:50px;
    font-family: "Jersey 15", serif;
    font-weight: 400;
    font-style: normal;
    font-size:100px;
    text-align:center;
    color:#5D78A1;
}
body{
    margin:0px;
}
main{
    margin:8px;
    font-family: "Afacad", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
#Person{
    font-family: "Jersey 15", serif;
    font-weight: 400;
    font-style: normal;
    color:#899DCA;
    font-size:40px;
    margin:35px;
}
.box, .box2{
    width:900x;
    padding:35px;
    background-color:#F5F5F5;
    border-radius:20px;
    margin:10px;
    color:#4F75AE;
    font-size:23px;
}
h2, p{
    color:#4C6BA4;
    margin:20px;
}
h2{
    font-size:38px;
}
p{
    font-size:25px;
}
img{
    margin:30px;
}
